In [3]:
#동별버스정류장 개수
import pandas as pd

주소 = pd.read_csv('버정위치.csv',index_col = 0,encoding='cp949')#버스정류장 위치 로드

In [4]:
주소

                    정류소 명칭    다음정류소   설치장소
음성안내번호(ARS ID)
1001.0               계림사거리  서방시장(서)   계림1동
1002.0               계림사거리      광주고   계림1동
1003.0          광주고/419역사관  대인시장(동)   계림1동
1004.0          광주고/419역사관    계림사거리   계림1동
1005.0             4.19기념관      광주고   계림1동
...                    ...      ...    ...
2409.0           금호호반아파트1차    가상정류장  가상정류장
4508.0                전남방직    가상정류장  가상정류장
4548.0            중흥삼거리(남)    가상정류장  가상정류장
NaN                연제힐스테이트      NaN    NaN
NaN                연제힐스테이트      NaN    NaN

[2408 rows x 3 columns]

In [5]:
주소_동 = 주소.loc[:,['설치장소']] #설치 동 추출

In [20]:
주소_동

                 설치장소
음성안내번호(ARS ID)
1001.0           계림1동
1002.0           계림1동
1003.0           계림1동
1004.0           계림1동
1005.0           계림1동
...               ...
2409.0          가상정류장
4508.0          가상정류장
4548.0          가상정류장
NaN               NaN
NaN               NaN

[2408 rows x 1 columns]

In [21]:
count = 주소_동.value_counts() #동별 정류장 개수 집계

In [22]:
count

설치장소
 건국동           168
 하남동           110
 평동            108
 삼도동            83
 서창동            80
              ...
 하남동(수완지구)       3
 지원동             2
 임암동             2
 소촌동             2
제외대상(송정역사내)      1
Length: 102, dtype: int64

In [23]:
동별_개수 = pd.DataFrame(count)

In [25]:
동별_개수.index

MultiIndex([(       ' 건국동',),
            (       ' 하남동',),
            (        ' 평동',),
            (       ' 삼도동',),
            (       ' 서창동',),
            (       ' 석곡동',),
            (       ' 대촌동',),
            (       ' 임곡동',),
            (       ' 어룡동',),
            (       ' 본량동',),
            ...
            (      ' 계림2동',),
            (       ' 양림동',),
            (       ' 수완동',),
            (      ' 방림1동',),
            (       ' 동명동',),
            ( ' 하남동(수완지구)',),
            (       ' 지원동',),
            (       ' 임암동',),
            (       ' 소촌동',),
            ('제외대상(송정역사내)',)],
           names=['설치장소'], length=102)

In [26]:
동별_개수.to_csv('동별버정개수.csv',index = True,encoding='cp949')#csv파일로 추출

In [51]:
동별_개수= pd.read_csv('동별버정개수.csv',index_col=0,encoding = 'cp949')

In [52]:
동별_개수

             Unnamed: 1
key
건국동                 168
하남동                 110
평동                  108
삼도동                  83
서창동                  80
...                 ...
하남동(수완지구)             3
지원동                   2
임암동                   2
소촌동                   2
제외대상(송정역사내)           1

[102 rows x 1 columns]

In [70]:
#광주 전체인구 csv파일 불러오기
광주종합 = pd.read_csv('광주전체.csv',index_col=0,encoding = 'cp949')

In [71]:
광주종합

        총계
key
양림동   1536
방림1동  1769
방림2동  2150
봉선1동  3617
봉선2동  6211
...    ...
서창동   1441
금호1동  5114
금호2동  7218
풍암동   9696
동천동   3647

[96 rows x 1 columns]

In [72]:
# 광주동별인구, 동별 버스정류장 개수 조인
df_inner_join = pd.merge(광주종합,동별_개수,
                        left_on='key',right_on='key',how='inner')

In [73]:
df_inner_join

        총계  Unnamed: 1
key
양림동   1536           5
방림1동  1769           5
방림2동  2150           8
봉선1동  3617           8
봉선2동  6211          23
...    ...         ...
서창동   1441          80
금호1동  5114          10
금호2동  7218          18
풍암동   9696          39
동천동   3647           8

[94 rows x 2 columns]

In [74]:
df_inner_join.to_csv('pop_station_final.csv',index=True,encoding='cp949')