In [1]:
import pandas as pd

In [13]:
광산구 = pd.read_csv('광산구_최종.csv',index_col = 0,encoding='cp949')

In [14]:
광산구 = 광산구.T

In [15]:
광산구

구분,총계,10월 14일,10세,11세,12세,13세,14세,15-19,15세,16세,...,31세,32세,33세,34세,35-39,35세,36세,37세,38세,39세
합계,"165,914","25,956","5,260","5,020","5,107","5,582","4,987","26,550","4,855","5,128",...,"4,385","4,490","4,691","4,850","31,545","5,172","5,448","6,351","7,267","7,307"
송정동,"6,420",713,140,140,119,154,160,877,146,160,...,204,173,202,208,1089,185,179,241,248,236
도산동,"6,107",764,151,132,140,183,158,897,149,164,...,190,196,236,200,"1,193",217,200,248,262,266
신흥동,"1,600",199,43,37,25,46,48,231,35,52,...,49,54,41,57,301,59,42,64,68,68
어령동,"13,210","1,919",433,357,413,367,349,"1,743",355,326,...,417,429,485,474,"3,313",528,593,670,792,730
우산동,"10,594",942,178,221,179,188,176,"1,149",184,222,...,420,438,405,409,"2,163",438,368,437,486,434
월곡동,"10,728",1436,276,251,303,321,285,1786,315,324,...,268,263,283,270,1668,294,311,309,393,361
비아동,"2,585",373,85,65,75,71,77,397,64,84,...,66,81,65,68,541,89,118,121,100,113
첨단동,"51,376","6,700",1305,1223,1293,1483,1396,"8,274",1387,1600,...,1526,1357,1352,1426,"7,965",1373,1477,1484,1783,1848
신가동,"8,044","1,394",267,298,259,298,272,"1,525",255,302,...,171,190,185,225,"1,478",182,267,326,362,341
운남동,"12,822","1,877",367,373,356,417,364,"2,106",357,415,...,305,321,346,355,"2,367",415,409,439,575,529
신창동,"15,936","2,708",489,509,554,636,520,"2,835",540,550,...,359,440,439,464,"2,991",526,497,626,659,683
수완동,"33,753","7,468","1,596","1,481","1,496","1,556","1,339","6,194","1,275","1,205",...,652,697,782,857,"6,877",974,"1,114","1,421","1,644","1,724"
하남동,"9,700","1,748",395,364,329,353,307,"1,414",281,298,...,243,265,290,308,"2,225",333,359,436,490,607
임공동,405,66,7,13,9,18,19,56,9,14,...,12,16,9,8,54,8,8,11,12,15
동공동,399,32,11,2,5,11,3,51,6,6,...,12,20,13,12,70,12,16,14,17,11
평동,"1,050",81,16,12,20,16,17,73,13,7,...,44,43,43,49,232,37,44,57,51,43
삼도동,447,62,8,16,10,19,9,52,8,10,...,16,13,15,12,92,16,13,14,23,26
본량동,370,43,10,4,12,7,10,47,7,11,...,15,11,8,13,67,19,12,12,16,8

In [19]:
광산구=광산구.T

In [ ]:
광산구

In [ ]:
광산구.loc['총계']

In [22]:
광산구_최종 = 광산구.loc['총계']

In [ ]:
광산구_최종

In [26]:
광산구_최종=pd.DataFrame(광산구_최종)

In [27]:
광산구_최종.to_csv('광산구_진짜최종.csv',index=True,encoding='cp949')

In [53]:
서구 = pd.read_csv('서구_최종2.csv',index_col = 0,encoding='cp949')
동구 = pd.read_csv('동구_최종.csv',index_col = 0,encoding='cp949')
북구 = pd.read_csv('북구_최종.csv',index_col = 0,encoding='cp949')
남구 = pd.read_csv('남구_최종.csv',index_col = 0,encoding='cp949')

In [45]:
서구

,총계,10월 14일,10세,11세,12세,13세,14세,15-19,15세,16세,...,31세,32세,33세,34세,35-39,35세,36세,37세,38세,39세
합계,"113,600","14,547","2,810","2,746","2,893","3,135","2,963","17,020","2,843","3,187",...,"3,510","3,306","3,181","3,255","20,002","3,342","3,579","4,077","4,468","4,536"
양동,"2,413",261,68,48,42,52,51,252,46,48,...,83,95,76,100,532,81,97,97,118,139
농성동,"5,664",402,76,67,94,85,80,537,77,98,...,242,217,195,195,1082,218,207,214,206,237
광천동,"2,782",265,52,56,57,50,50,364,43,58,...,97,89,89,98,575,106,95,110,129,135
유덕동,"4,417",594,126,112,120,125,111,706,105,131,...,136,133,130,138,775,126,134,150,166,199
치평동,"12,989","1,400",260,285,291,294,270,"1,716",276,302,...,459,412,372,436,"2,261",403,426,462,473,497
상무동,"19,884","1,880",341,331,391,388,429,"2,342",394,435,...,735,655,589,596,"3,264",567,601,665,718,713
화정동,"23,649",2975,605,582,554,638,596,3187,566,605,...,784,741,722,687,"4,547",749,824,946,1041,987
서창동,"1,858",177,25,41,40,34,37,240,34,44,...,70,67,78,50,367,66,73,79,82,67
금호동,"18,869",2889,522,543,558,649,617,"3,648",623,696,...,435,467,430,465,"2,976",459,518,605,704,690
풍암동,"14,971","2,423",455,446,501,526,495,"2,852",476,517,...,361,310,378,353,"2,470",407,427,508,554,574
동천동,"6,104","1,281",280,235,245,294,227,"1,176",203,253,...,108,120,122,137,"1,153",160,177,241,277,298

In [48]:
서구_총계=서구.T.loc['총계']

In [49]:
pd.DataFrame(서구_총계)

          총계
합계   113,600
양동     2,413
농성동    5,664
광천동    2,782
유덕동    4,417
치평동   12,989
상무동   19,884
화정동   23,649
서창동    1,858
금호동   18,869
풍암동   14,971
동천동    6,104

In [51]:
서구_총계.to_csv('서구_진짜최종.csv',index=True,encoding='cp949')

In [56]:
남구_총계=남구.T.loc['총계']
pd.DataFrame(남구_총계)
남구_총계.to_csv('남구_진짜최종.csv',index=True,encoding='cp949')

In [58]:
남구_총계.T

합계     76,272
양림동     2,282
방림동     5,372
봉선동    16,127
사직동     1,597
월산동     7,050
백운동     6,440
주월동     9,740
효덕동    17,847
송암동     8,316
대촌동     1,501
Name: 총계, dtype: object